/* @font-face {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;

  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
} */
@font-face {
  font-family: "Playfair Display regular";
  src: url("../font/Playfair_Display/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display bold";
  src: url("../font/Playfair_Display/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "Roboto regular";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto_light";
  src: url("../font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto light italic";
  src: url("../font/Roboto/Roboto-LightItalic.ttf");
}

:root {
  --font-title: "Playfair Display regular";
  --font-title-bold: "Playfair Display bold";
  --font-main: "Roboto regular";
  --font-main-light: "Roboto_light";
  --font-main-italic: "Roboto light italic";

  --colour-red: #580918;
  --colour-blue: #1d1b41;
  --colour-gold: #d9960a;

  --colour-titletext: #d9960a;
  --colour-text: #ffffff;
  --colour-base: #1d1b41;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;

  font-family: var(--font-main);
  color: var(--colour-text);
}

body {
  min-height: 100vh;
  width: 100%;
  /* background-image: url("../imgs/nightsky.webp"); */
}
.background_image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title-bold);
  color: var(--colour-titletext);
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

ul li {
  font-size: 24px;
  font-family: var(--font-main-light);
  line-height: 32px;
  list-style: none;
}
@media (max-width: 1000px) {
  ul li {
    font-size: 16px;
  }
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
