---
import Mainlayout from "../components/Mainlayout.astro";
import Navbar from "../components/Navbar.astro";
import Burgermenu from "../components/Burgermenu.astro";
import Footer from "../components/Footer.astro";
import Scrollarrow from "../components/Scrollarrow.astro";
import Quotes from "../components/Quotes.astro";
import Videosection from "../components/Videosection.astro";

import "../styles/burger.css";
import "../styles/master.css";
import "../styles/about.css";
---

<Mainlayout title="NudiTea - Om Os">
  <header>
    <Navbar />
    <Burgermenu />
  </header>

  <main>
    <Scrollarrow />

    <section class="our_menu2">
      <div class="our_container2">
        <div class="rightgold">
          <img src="../svgs/gulddetaljerh칮jre.svg" alt="guldramme" />
        </div>
        <div class="leftgold">
          <img src="../svgs/gulddetaljervenstre.svg" alt="guldramme" />
        </div>
        <h2>Om os</h2>
        <p>
          NudiTea 친bnede i 2021 og startede med det 칮nske at 친bne et bubble tea hus, hvor kvaliteten altid var i top. Vi har stort fokus p친 gode r친varer og betjening, og hos os er der plads til hygge og samv칝r for alle. Vores sted er 100%
          plantebaseret og vi vil gerne 친bne folks 칮jne for at de plantebaserede alternativer kan v칝re mindst liges친 l칝kre, hvis ikke endnu bedre end det de andre tilbyder.
        </p>
      </div>
      <img src="../imgs/about_drink.png" alt="bubble tea" />
    </section>
    <section class="our_menu">
      <img src="../imgs/about_location.png" alt="bubble tea" />
      <div class="our_container">
        <div class="rightgold">
          <img src="../svgs/gulddetaljerh칮jre.svg" alt="guldramme" />
        </div>
        <div class="leftgold">
          <img src="../svgs/gulddetaljervenstre.svg" alt="guldramme" />
        </div>
        <h2>游늷 S칮borg Torv</h2>
        <p>
          Vores butik ligger p친 S칮borg Torv, hvor der er flere transportmuligheder i n칝rheden. Bus 6A og bus 160 k칮rer lige ved siden af og Kildebakke st. er 1 km g친afstand v칝k. Torvet l칝gger op til hyggeligt samv칝r n친r vejret er godt og derfor har
          vi ogs친 en mulighed for at nyde sin bubble tea udenfor. Se vores 친bningstider her
        </p>
      </div>
    </section>

    <section>
      <Quotes />
    </section>

    <section>
      <Videosection />
    </section>
    <div>
      <img src="../imgs/nightsky.webp" alt="background sky" class="background_image" />
    </div>
    <script src="../scripts/burger.js"></script>
  </main>
  <Footer />
</Mainlayout>

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>
