---
import Mainlayout from "../components/Mainlayout.astro";
import Burgermenu from "../components/Burgermenu.astro";
import Footer from "../components/Footer.astro";
import Scrollarrow from "../components/Scrollarrow.astro";
import Normalbutton from "../components/Normalbutton.astro";
import "../styles/burger.css";
import "../styles/master.css";
import "../styles/index.css";
---

<!-- husk at sætte burgermenu og navbar i en header og andet indhold (undtagen footer) i en main :-) -->
<Mainlayout title="NudiTea - Forside">
  <!-- Dette er pop-up beskeden -->
  <script>
    function showPopup() {
      alert("This is a School Project");
      localStorage.setItem("popupShown", "true");
    }

    window.onload = function () {
      var popupShown = localStorage.getItem("popupShown");
      if (!popupShown) {
        showPopup();
      }
    };
  </script>
  <!-- -------------------------- -->
  <header class="index_header">
    <p>100% plantebaserede produkter</p>
    <div class="nav_container">
      <div class="rightgold"><img src="../svgs/gulddetaljerhøjre.svg" alt="guldramme" /></div>
      <div class="leftgold"><img src="../svgs/gulddetaljervenstre.svg" alt="guldramme" /></div>
      <a href="/index" class="logo_container">
        <img src="../svgs/nuditealogo.svg" alt="Logo" class="logo" />
      </a>
      <h3>Din spirituelle Bubble Tea butik med fokus på høj kvalitet og god energi</h3>
      <div class="nav-buttons">
        <a href="/" class="nav-button">Forside</a>
        <a href="/menu" class="nav-button">Menu</a>
        <a href="/about" class="nav-button">Om os</a>
      </div>
    </div>
    <Burgermenu />
  </header>
  <main>
    <Scrollarrow />
    <section class="closingtimes">
      <h2>Åbningstider</h2>
      <ul class="day">
        <li>Mandag</li>
        <li>Tirsdag</li>
        <li>Onsdag</li>
        <li>Torsdag</li>
        <li>Fredag</li>
        <li>Lørdag</li>
        <li>Søndag</li>
      </ul>
      <ul class="time">
        <li>12-18</li>
        <li>12-18</li>
        <li>12-18</li>
        <li>12-18</li>
        <li>12-19</li>
        <li>12-19</li>
        <li>12-19</li>
      </ul>
    </section>
    <section class="our_menu">
      <img src="../imgs/forside_ourmenu.webp" alt="bubble tea" />
      <div class="our_container">
        <div class="rightgold"><img src="../svgs/gulddetaljerhøjre.svg" alt="guldramme" /></div>
        <div class="leftgold"><img src="../svgs/gulddetaljervenstre.svg" alt="guldramme" /></div>
        <h2>Vores menu</h2>
        <p>Hos Nudi Tea går vi op i at vores produkter er af god kvalitet, sådan at vi kan sikre den bedst mulige smagsoplevelser for vores kunder. Vi tilbyder et bredt sortiment af smage, så der er noget for enhver.</p>
        <Normalbutton state="default">Se menu</Normalbutton>
      </div>
    </section>
  </main>
  <Footer />
  <div><img src="../imgs/nightsky.webp" alt="background sky" class="background_image" /></div>
  <script src="../scripts/burger.js"></script>
</Mainlayout>
