---
import Toggle from "../components/Toggle.astro";
import "../styles/master.css";
---

<div class="ToggleButt">
  <Toggle />
</div>

<style>
  .ToggleButt {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
</style>
