---
const {type}=Astro.props;
---
<div class="frame_container">
<div class={type}>
<img src="/svgs/hand.svg" alt="" id="handsvg">
<img src="/svgs/crystal.svg" alt="" id="crystalsvg">
<slot/>
</div>
</div>

<style>
.frame_container{
    width: 100%;
}
.big{
    background-image: url("../imgs/frame_big.jpg");
    background-repeat: no-repeat;
    height: 1155px;
    width: 743px;
    position: relative;
}

#handsvg{
width: 11.5rem;
position:absolute;
left: 45%;
top: 10%;
}
#crystalsvg{
width: 9rem;
position:absolute;
left: 65%;
bottom: 10%;
}

@media (max-width: 600px) {
    .framebackground{
    background-image: none;
    background-color: aqua;
}
  }
</style>