---
import { Image } from "astro:assets";

import BubbleTea1 from "../assets/imgs/bubble_tea1.png";
import BubbleTea2 from "../assets/imgs/bubble_tea2.png";
import BubbleTea3 from "../assets/imgs/bubble_tea3.png";
import BubbleTea4 from "../assets/imgs/bubble_tea4.png";

const images = [BubbleTea1, BubbleTea2, BubbleTea3, BubbleTea4];

const items = [
  { image: 0, title: "Skumbanan" },
  { image: 1, title: "Watermelon Sugar High" },
  { image: 2, title: "Grapefruit Greatfruit" },
  { image: 3, title: "Marcipangris" },
  { image: 0, title: "Æblerov" },
  { image: 1, title: "Bær Med Bær" },
  { image: 2, title: "Bounty" },
];
---

<!--- ui card starter -->
<section class="container">
  <div class="fav_card">
    {
      items.map(({ image, title }) => (
        <div class="img">
          <Image src={images[image]} alt={`bubble tea ${image}`} />
          <h3>{title}</h3>
        </div>
      ))
    }
  </div>
</section>

<!--- ui card slutter -->

<!-- Styles starter -->

<style lang="scss">
  .container {
    .fav_card {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
    }

    .img {
      transition-property: transform;
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
      transform: scale(1) translateY(0);

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  h3 {
    font-family: var(--font-main);
    color: var(--colour-titletext);
    font-size: medium;
  }
</style>

<!-- Styles sslutter -->
