---
import Icons from "../components/Icons.astro";
const { variant, link, leadto } = Astro.props;
---

<footer>
  <section id="footercontent">
    <div id="kontaktinfo">
      <p class="kontakt">Kontakt os:</p>
      <p>NudiTea ApS</p>
      <a href="tel:+4531423701">31 42 37 01</a><br />
      <a
        href="https://www.google.com/maps/place/S%C3%B8borg+Torv+7,+2860+S%C3%B8borg/@55.7363758,12.5057778,17z/data=!3m1!4b1!4m6!3m5!1s0x465251f9a70d85cb:0xeda748a17a70b140!8m2!3d55.7363728!4d12.5083581!16s%2Fg%2F11csclgmkz"
      >
        Søborg Torv 7, 2860 Søborg</a
      >
      <p>CVR: 41934301</p>
    </div>
    <p class="copyright">Dette er et eksamensprojekt</p>
    <div class="allicons">
      <div class="firstrow">
        <Icons icon="facebook" variant="primary" link="" leadto="" />

        <Icons
          icon="instagram"
          variant="primary"
          link="https://www.instagram.com/nuditea.dk/?hl=en"
          leadto=""
        />
        <Icons
          icon="trustpilot"
          variant="primary"
          link="https://dk.trustpilot.com/review/nuditea.dk"
          leadto=""
        />
      </div>
      <div class="secondrow">
        <Icons
          icon="justeat"
          variant="primary"
          link="https://wolt.com/en/dnk/lyngby-gentofte/restaurant/nuditea"
          leadto=""
        />
        <Icons
          icon="wolt"
          variant="primary"
          link="https://www.just-eat.dk/en/menu/nuditea"
          leadto=""
        />
        <Icons
          icon="foodora"
          variant="primary"
          link="https://www.foodora.dk/?gclid=CjwKCAjw67ajBhAVEiwA2g_jEGV1Rv0FQJiU0UCoy-LDv1m0K6IUqlm108m30_Ii0_lH-3mPVPbP-hoCpFwQAvD_BwE"
          leadto=""
        />
      </div>
    </div>
  </section>
</footer>

<style>
  /* .Icons:hover .icon {
    color: #1d1b41;
  } */
  footer {
    background-color: transparent;
    /* background-size: cover; */
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
  }

  #footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
  }

  .copyright {
    color: #d9960a;
  }

  .firstrow,
  .secondrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
  }

  .kontakt {
    color: #d9960a;
  }
  /* #kontaktinfo {
    color: white;
  } */
  @media (min-width: 600px) {
    .copyright {
      display: flex;
      align-self: end;
    }

    .allicons {
    }
  }

  @media (max-width: 600px) {
    #footercontent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #kontaktinfo {
      order: 2;
      padding-bottom: 1rem;
    }
    .allicons {
      order: 1;
      padding-bottom: 1rem;
    }
    .copyright {
      order: 3;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
</style>
