---
---

<div class="frame_container">
  <div class="big">
    <h2>Frugt Te</h2>
    <ul class="first_column">
      <li>Abrikos</li>
      <li>Ananas</li>
      <li>Anis</li>
      <li>Appelsin</li>
      <li>Banan</li>
      <li>Blodappelsin</li>
      <li>Blåbær</li>
      <li>Brombær</li>
      <li>Citron</li>
      <li>Fersken</li>
      <li>Granatæble</li>
      <li>Grøn æble</li>
      <li>Guava</li>
      <li>Hibiscus</li>
      <li>Hindbær</li>
      <li>Honning</li>
      <li>Honningmelon</li>
      <li>Hyldeblomst</li>
      <li>Ingefær</li>
      <li>Jordbær</li>
    </ul>
    <ul class="second_column">
      <li>Karamel</li>
      <li>Kaffe</li>
      <li>Kirsebær</li>
      <li>Kiwi</li>
      <li>Kokos</li>
      <li>Kærlighedsfrugt</li>
      <li>Lavendel</li>
      <li>Lime</li>
      <li>Mango</li>
      <li>Passionsfrugt</li>
      <li>Pink Grape</li>
      <li>Rose</li>
      <li>Solbær</li>
      <li>Surt slik</li>
      <li>Tranebær</li>
      <li>Tyggegummi</li>
      <li>Vandmelon</li>
      <li>Vanilje</li>
      <li>Vindrue</li>
    </ul>
    <div class="sugarfree">
      <h3>Sukkerfrie</h3>
      <p>Hasselnød / Karamel / Vanilje</p>
      <p>Kan serveres kold eller varm</p>
    </div>
    <img src="/svgs/hand.svg" alt="" id="handsvg" />
    <img src="/svgs/crystal.svg" alt="" id="crystalsvg" />
  </div>
</div>

<style>
  h2 {
    grid-column: 2/3;
    justify-self: start;
    height: fit-content;
    align-self: end;

    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  ul li {
    font-size: 24px;
  }
  .frame_container {
    width: 100%;
    display: grid;
  }
  .big {
    background-image: url("../imgs/frame_big.jpg");
    background-repeat: no-repeat;
    height: 1155px;
    width: 743px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 5fr 2fr;
  }

  #handsvg {
    width: 11.5rem;
    position: absolute;
    left: 45%;
    top: 10%;
  }
  #crystalsvg {
    width: 9rem;
    position: absolute;
    left: 65%;
    bottom: 10%;
  }
  .first_column {
    width: fit-content;
    list-style: none;
    width: 10rem;
    grid-column: 2/3;
    justify-self: start;
    padding: 0;
  }
  .second_column {
    width: fit-content;
    list-style: none;
    grid-column: 3/4;

    font-size: 24px;
  }
  .sugarfree {
    grid-column: 2/4;
    justify-self: center;
    text-align: center;
  }
  .sugarfree p:first-of-type {
    font-size: 24px;
    font-family: var(--font-main-light);
  }
  .sugarfree p:last-of-type {
    font-size: 16px;
  }

  @media (max-width: 800px) {
    .big {
      background-image: none;
      /* background-color: var(--colour-red); */
      background-color: #580918;
      width: 322px;
      height: 860px;
      justify-self: center;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
    #handsvg {
      width: 6.5rem;
      left: 50%;
      top: 5%;
    }
    #crystalsvg {
      width: 6rem;
      left: 65%;
      bottom: 10%;
    }

    h2 {
      font-size: 32px;
      align-self: center;
      grid-column: 2/4;
    }
    h3 {
      font-size: 24px;
    }
    .sugarfree p:first-of-type {
      font-size: 16px;
    }
    .sugarfree p:last-of-type {
      font-size: 16px;
    }
    ul li {
      font-size: 16px;
    }
    .first_column {
      width: 6rem;
    }
    .second_column {
      font-size: 16px;
      padding-left: 1rem;
    }
  }
</style>
