---
const title = Astro.props.title;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <!-- <meta name="description" content="Din spirituelle bubble tea butik! Mælke te - Frugt te - Stort udvalg - Høj kvalitet - 100% Platebaseret - God energi - Besøg os på Søborg Torv 7, 2860 Søborg" /> -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../scripts/burger.js"></script>
    <script src="../scripts/carousel.js"></script>
    <script src="../scripts/menusection.js"></script>
  </body>
</html>
