---
const {state,link}=Astro.props;
---

<!-- Vælg mellem default eller active state -->
<!-- Indsæt evt. link, hvis knappen fører et sted hen -->
<button class={state}>
    <a href={link}><slot /></a>
  </button>

<style>
    a{
    text-decoration: none;
}
 .default {
    width: 10rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #D9960A;
    border-radius: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #D9960A;
    background-color: #1D1B41;
    color: #D9960A;
    font-size: 20px;
  }
  .default:hover {
    background-color:  #D9960A;
    border-color:  #D9960A;
    color: #ffffff;
  }
  .active {
    width: 10rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #D9960A;
    border-radius: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 1rem 1.9rem 1rem 1.9rem; */
    /* Skal udskiftes til variabler */
    border-color: #D9960A;
    background-color:  #D9960A;
    color: #ffffff;
    font-size: 20px;
  }

</style>