---
const { state, link, id } = Astro.props;
---

<!-- Vælg mellem default eller active state --><!-- Indsæt evt. link, hvis knappen fører et sted hen -->
<button class={state} id={id}>
  <a href={link}><slot /></a>
</button>

<style>
  a {
    text-decoration: none;
    font-family: var(--font-title);
    font-size: 16px;
    color: var(--colour-gold);
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .default {
    width: 10rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #d9960a;
    border-radius: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #d9960a;
    background-color: #1d1b41;
    color: #d9960a;
    font-size: 20px;
    margin: 1rem;
  }
  .default:hover {
    background-color: #d9960a;
    border-color: #d9960a;
  }
  .default:hover a {
    color: var(--colour-text);
  }
  .active {
    width: 10rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #d9960a;
    border-radius: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #d9960a;
    background-color: #d9960a;
    color: #ffffff;
    font-size: 20px;
    margin: 1rem;
  }
  .active a {
    color: var(--colour-text);
  }
</style>
